<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="modal" class="modal-overlay" id="removeResponsibilityModal">
    <div class="modal-content">
        <div class="modal-message">
            <p>Are you sure you want to remove <strong id="responsibilityNameToRemove"></strong> from this event?</p>
        </div>

        <div class="modal-buttons modal-buttons-centered">
            <button class="modal-btn modal-btn-remove" onclick="confirmRemoveResponsibility()">Remove</button>
            <button class="modal-btn modal-btn-cancel" onclick="hideRemoveResponsibilityModal()">Cancel</button>
        </div>
    </div>
</div>

</html>