<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Toast CSS Include Fragment -->
<div th:fragment="toast-css">
    <link rel="stylesheet" th:href="@{/css/toast-styles.css}">
</div>

<!-- Toast JavaScript Include Fragment -->
<div th:fragment="toast-js">
    <script th:src="@{/js/toast.js}"></script>
</div>

<!-- Complete Toast System Fragment (HTML + CSS + JS) -->
<div th:fragment="toast-system">
    <!-- Include CSS -->
    <link rel="stylesheet" th:href="@{/css/toast-styles.css}">

    <!-- Toast HTML -->
    <div id="toast" class="toast">
        <span id="toastMessage" class="toast-message">Message</span>
        <button id="toastClose" class="toast-close" type="button">&times;</button>
    </div>

    <!-- Include JavaScript -->
    <script th:src="@{/js/toast.js}"></script>
</div>

</html>