<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsibility Management - Event Management System</title>
    <!-- Styles -->
    <link rel="stylesheet" th:href="@{/css/navbar-styles.css}">
    <link rel="stylesheet" th:href="@{/css/responsibility-manage-styles.css}">
</head>
<body>
    <!-- Navigation Bar -->
    <div th:replace="~{fragments/navbar/navbar-main :: navbar}"></div>

    <!-- Main Content -->
    <div class="main-content">
        <!-- Two Column Layout -->
        <div class="management-layout">
            <!-- Left Sidebar Fragment -->
            <div th:replace="~{fragments/responsibility-manage/responsibility-sidebar :: sidebar(${responsibility}, ${responsibilityManagers}, ${itemCount})}"></div>

            <!-- Right Main Area Fragment -->
            <div th:replace="~{fragments/responsibility-manage/items-table :: table(${items}, ${itemCount}, ${requests}, ${requestCount})}"></div>
        </div>
    </div>

    <!-- Modals -->
    <div th:replace="~{fragments/responsibility-manage/edit-description-modal :: modal(${responsibility})}"></div>
    <div th:replace="~{fragments/responsibility-manage/add-item-modal :: modal(${responsibility})}"></div>
    <div th:replace="~{fragments/responsibility-manage/edit-item-modal :: modal(${responsibility})}"></div>
    <div th:replace="~{fragments/responsibility-manage/confirmation-modal :: modal}"></div>

    <!-- Hidden Delete Form (since we removed delete modal but still need the form) -->
    <form id="deleteItemForm" th:action="@{/responsibility-manage/{responsibilityId}/delete-item(responsibilityId=${responsibility.responsibilityId})}" method="post" style="display: none;">
        <input type="hidden" id="deleteItemId" name="itemId">
    </form>

    <!-- Hidden Action Form for Approve/Deny Requests -->
    <form id="hiddenActionForm" method="post" style="display: none;">
        <input type="hidden" id="hiddenActionInput" name="actionParam">
    </form>

    <!-- Include Complete Toast System -->
    <div th:replace="~{fragments/common/toast :: toast-system}"></div>

    <!-- Scripts -->
    <script th:src="@{/js/responsibility-manage-scripts.js}"></script>
    <script th:src="@{/js/navbar-scripts.js}"></script>
</body>
</html>