<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${responsibility.responsibilityName + ' - Event Management System'}">Responsibility - Event Management System</title>

    <!-- Styles -->
    <link th:href="@{/css/responsibility-view-styles.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/navbar-styles.css}">
</head>
<body>
    <!-- Navigation Bar -->
    <div th:replace="~{fragments/layout :: navbar}"></div>

    <!-- Main Content -->
    <div class="main-content">
        <!-- Two Column Layout -->
        <div class="view-layout">
            <!-- Left Sidebar Fragment -->
            <div th:replace="~{fragments/responsibility-view/responsibility-sidebar :: sidebar(${responsibility}, ${responsibilityManagers}, ${availableItemsCount}, ${totalItemsCount})}"></div>

            <!-- Right Main Area Fragment - UPDATED with new parameters -->
            <div th:replace="~{fragments/responsibility-view/items-section :: section(${items}, ${user}, ${userRequestedItemIds}, ${canRequestItems}, ${userPendingReturnItemIds}, ${canReturnItems})}"></div>
        </div>
    </div>

    <!-- Modals -->
    <div th:replace="~{fragments/responsibility-view/request-modal :: modal}"></div>
    <div th:replace="~{fragments/responsibility-view/return-modal :: modal}"></div>

    <!-- Include Toast System -->
    <div th:replace="~{fragments/common/toast :: toast-system}"></div>

    <!-- Scripts -->
    <script th:src="@{/js/navbar-scripts.js}"></script>
    <script th:src="@{/js/responsibility-view-scripts.js}"></script>
</body>
</html>